
.headerAbout{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.introAbout {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "introAbout1 introAbout2";
    max-width: 660px;
    align-items: center;
    
}
.introAbout1 h2{
    font-size: 25px;
    font-weight: 400;

}

.introAbout1 { 
    
    grid-area: introAbout1; 

}

.introAbout2 { 
    grid-area: introAbout2; 
    text-align: center;
}



.gridContacto {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "cv linkedIn"
    "textoCv textolinkedIn";
}

.cv { 
    grid-area: cv; 
    align-self: baseline;
    text-align: center;
}

.linkedIn { 
    grid-area: linkedIn; 
    align-self: baseline;
    text-align: center;
}
    .gridContacto img{
        height:53.91px;
    }

.textoCv { grid-area: textoCv; 

    text-align: center;
}

.textolinkedIn { 
    text-align: center;
    grid-area: textolinkedIn; }


.hover-1 {
    --c: red; 
    --s: .15em;
    
    line-height:1.1em;
    padding-bottom: calc(2.1*var(--s));
    background: 
    conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
        left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
        left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
    transition: .5s;
}
.hover-1:hover {
    --_p: 100%;

}

.tecnologias {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "icFigma icXd icCorel icPs"
        "icHTML icCSS icJS icReact";
    
}

.icFigma { grid-area: icFigma; }

.icXd { grid-area: icXd; }

.icCorel { grid-area: icCorel; }

.icPs { grid-area: icPs; }

.icHTML { grid-area: icHTML; }

.icCSS { grid-area: icCSS; }

.icJS { grid-area: icJS; }

.icReact { grid-area: icReact; }




.tecnologias img{
    height: 80px;
}
.tecnologias div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tecnologias p{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.descAbout{
    width: 900px;

}

.videojuegosAbout {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
    "favoritosJ jugandoJ"
    "fJuegos cJuegos";
    width: 900px;
}

.videojuegosAbout img{
    height: 150px;
}

.favoritosJ { grid-area: favoritosJ; }

.jugandoJ { grid-area: jugandoJ; }

.cJuegos {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "hk sp"
    "ox rl";
    grid-area: cJuegos;
}

.hk { grid-area: hk; }

.sp { grid-area: sp; }

.ox { grid-area: ox; }

.rl { grid-area: rl; }

.fJuegos {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "omori antichamber"
        "textoDisc discord"
        ;
    grid-area: fJuegos;
}

.omori { grid-area: omori; }

.antichamber { grid-area: antichamber; }

.textoDisc{
    grid-area: textoDisc;
    align-self: center;
}
.discord{
    grid-area: discord;
}
