
/*///////////PROYECTOS////////////*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.divSec{
    text-align: center;
}
.divSec h2{
    font-size: 32px;
}
#gridproy img{
    max-height: 315.75px;
}
#gridproy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.indProy{ /*PROYECTO INDIVIDUAL*/
    margin: 20px 40px;
    width: 400px;
}
.indProy h3{
    font-size: 24px;
    margin: 5px;
}
.indProy a{
    text-decoration: none;
    color: #1f1f1f;
}

.indProy p{
    font-size: 14px;
    margin: 5px auto 20px auto;
    width: 256px;
}



